/* Custom Properties */
:root {
  --card-width: 200px;
  --card-height: 220px;
  --gap-big: 40px;
  --gap-small: 20px;
  --card-radius: 14px;
  --card-bg: #fff;
  --button-bg: #0077ff;
  --dark-button-bg: #0044bb;
  --dark-button-hover-bg: #0044bb;
  --light-button-bg: #bbb;
  --light-button-hover-bg: #999;
  --shadow: 0 6px 20px rgba(5, 4, 4, 0.12);
  --border: rgba(0, 0, 0, 0.08);
  --font: "Roboto", sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
